:root{
 height: 100%;
  margin:0;
  padding:0;
  box-sizing: border-box;  
  background-color:#43CBFF;
}

*{
  list-style: none;
}

.subrayado{
  text-decoration-line:line-through ;
}

.modo-oscuro{
  background-color: #28292b;
}

.modo-claro{
  background-color:#43CBFF;
}